.login-page {
    width: 30%;
    margin: auto;
    font-family: 'Outfit', sans-serif;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-2 {
    width: 100%;
}

.login-form {
    position: relative;
    height: 600px;
    padding: 20px 10px;
    width: 80%;
}

.form-title h1 {
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
}

.form-title p {
    margin-bottom: 30px;
    font-size: 25px;
    line-height: 13px;   
}

.form-group {
    margin-bottom: 20px;
    border-bottom: 1px solid #FFFFFFB2;
    display: flex;
    align-items: center;
    border: 1px solid black;
    width: 100%;
}

.input-field input {
    width: 100%;
}

.button-toggle {
    padding: 14px 5px;
    border: 0;
    background-color: rgb(238, 237, 237);
}

.form-group input {
    background-color: rgb(238, 237, 237);
    border: 0;
    line-height: 25px;
    width: 100%;
    padding: 10px;
    outline: none;
    font-size: 20px;
}
.btn-login{
    background-color: black;
    color: #fff;
}

.form-pass {
    padding-bottom: 30px;
    color: #FFFFFF;
}

.form-butn {
    margin-bottom: 10px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #ffffff;
}

.form-butn button {
    background-color: black;
    color: white;
    font-size: 20px;
    border: none;
    width: 100%;
    font-weight: 400;
    padding: 10px;
}

.text-center {
    text-align: center;
}

.signup-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    bottom: 5%;
    left: 5%;
    right: 5%;
    margin-bottom: 40px;
}
.signup-info p{
    margin-bottom: 0;
}

@media  screen and (max-width : 576px) {
    .login-page{
        width: 90%;
    }
    .login-form{
        margin: auto;
    }
    .form-title h1 {
        margin-bottom: 40px;
        font-size: 30px;
        font-weight: 600;
        line-height: 50px;
    }
    
    .form-title p {
        margin-bottom: 30px;
        font-size: 17px;
        line-height: 13px;   
    }
}

@media  screen and (min-width : 577px) and (max-width : 798px) {
    .login-page{
        width: 70%;
    }
    .login-form{
        margin: auto;
    }
    .form-title h1 {
        margin-bottom: 40px;
        font-size: 30px;
        font-weight: 600;
        line-height: 50px;
    }
    
    .form-title p {
        margin-bottom: 30px;
        font-size: 17px;
        line-height: 13px;   
    }
}

@media  screen and (min-width : 798px) and (max-width : 1444px) {
    .login-page{
        width: 50%;
    }
    .login-form{
        margin: auto;
    }
    .form-title h1 {
        margin-bottom: 40px;
        font-size: 30px;
        font-weight: 600;
        line-height: 50px;
    }
    
    .form-title p {
        margin-bottom: 30px;
        font-size: 17px;
        line-height: 13px;   
    }
}