.top-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:12px 15px;
    color:rgb(21, 21, 21);
    align-items: center;
}

.nav-bar>ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    font-weight: 600;
}
.nav-bar> ul> li{
    padding:0 20px;
    position: relative;
    font-size: 23px;
    text-decoration: none;

}
.nav-bar ul li:hover{
    background-color: rgb(218, 106, 106);
    color: aliceblue;
}
 .nav-bar>ul>li>a{
    color: rgb(23, 22, 22);
    display: block;
    padding : 15px 0;
   
 }
.icon ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.icon li:nth-of-type(3) a{
    padding:15px;
   
}
.icon{
    font-size: 25px;
}
.icon a{
    padding-right:15px;
    color: rgb(25, 25, 25);
 }
 .logo img{
    width:20vh;
    height: 40px;
    padding-left: 40px;
 }
 
 .sticky{
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
 }
 header{
    padding: 10px;
    background-color: rgb(241, 241, 237);
 }
 @media only screen and (min-width: 454px)and (max-width: 776px) {
    .top-row {
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  
    .logo {
      padding: 0px; /* Add padding to the logo */
      margin: auto;
      text-align: center;
      width: 100%;
    }
    .nav-bar>ul>li{
      font-size: 18px;
    }
    
  }
  @media only screen and (max-width: 362px){
    .top-row {
       justify-content: end;
      }
     .logo img{
        padding: 0;
     }
      .logo {
       margin: auto;
       text-align: center;
      }
      .nav-bar>ul>li{
        padding:0px;
        text-align: center;
        font-size: 14px;
      }
      .nav-bar>ul>li>a{
        padding:2px;
      }
      .icon ul {
        font-size: 17px;
        width: 100%;
        margin: auto;
      }

  }
  @media only screen and (min-width: 362px) and (max-width: 454px) {
    .top-row {
       justify-content: end;
      }
     .logo img{
        padding: 0;
     }
      .logo {
       margin: auto;
       text-align: center;
      }
      .nav-bar>ul>li{
        padding:1px;
        text-align: center;
        font-size: 18px;
      }
      .nav-bar>ul>li>a{
        padding:2px;
      }
      .icon ul {
        font-size: 17px;
        width: 100%;
        margin: auto;
      }

  }